

#formContainer{
	width: 20%;
	display: inline-block;
}
form {
	display: inline-block;
	width: 90%;
}
input{
	display: block;
	margin-bottom: 10px;
	width: 80%;
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;

}
[type='submit']{
	background-color: rgba(0,100,150,0.2);

}


#dataDisplayContainer{
	display: inline-block;
	position: fixed;
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 80%;
}
#employeeData{
	width: 100%;
}
.person p{
	display: inline-block;
	/*padding-left: 10px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	width: 18%;
	border-bottom: 1px solid rgba(5,5,5,0.1);
	margin: 0px;
	text-align: center;

}
.deleteButton{
	border: 0px;
	background-color: white;
	color: red;
	margin-left: 10px;
	width: 4%;
}
#salaryDiv{
	display: block;
	color: red;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-bottom: 2px solid;
	width: 90%;
	/*position: fixed;*/
}
#salaryDiv p{
	display: inline-block;
	color: red;
	text-align: center;
	padding: 0px;
	margin: 0px;
	/*position: fixed;*/
}
#totalSalary{
	text-align: center;
			
}
